/*IMPORTANT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "poppins";
    --primary: rgb(211, 13, 13);
    --primaryShade: white;
    --secondaryShade: rgb(245, 242, 248);
    --tertiaryShade: rgb(47, 48, 66);
    --quaternaryShade: rgb(51, 52, 71);
    min-height: 400vh;
}

body::-webkit-scrollbar {
    width: 14px;
    background: #e3e9f0;
}

body::-webkit-scrollbar-thumb {
    background: #36394550;
    width: 100%;
}

body::-webkit-scrollbar-thumb:hover {
    background: #36394580;
}


/*CONTENT*/

.button {
    padding: 10px 40px;
    background-color: rgb(22, 104, 255);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 6px 0;
    margin: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 100px;
    transition: all 0.3s;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.6) 0 2px 6px 0, inset rgba(0, 0, 0, 0.4) 0 0 0 1000px;
}

.button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0 12px 18px 0, inset rgba(255, 255, 255, 0.3) 0 0 0 1000px;
}